.Post {
  background-color: whitesmoke;
  border: 2px solid lightgray;
  margin-bottom: 10px;
  width: 70vh;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 5px;
  padding-bottom: 5px;
}
.post_image {
  width: 72vh;
  height: 60vh;
  object-fit: fill;
}
.post_name {
  margin-left: 10px;
  padding: 5px;
  font-weight: lighter;
  display: flex;
  margin-bottom: 10px;
  border-top: 1px solid lightgray;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
}
.post_comments {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10px;
  margin-top: 5px;
  font-size: small;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
}
.post_header {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.post_text {
  margin-left: 10px;
}
.add_comment {
  flex: 0;
}
.comment_input {
  flex: 1;
  padding: 10px;
}
.comment_box {
  display: flex;
  border-top: 1px solid lightgray;
  padding: 10px;
}
.comment {
  display: flex;
  flex-direction: column;
}
.comments {
  object-fit: contain;
}
.Modal {
  object-fit: contain;
  background-color: #fafafa;
  height: auto;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
}
.comments_text {
  width: 40rem;
  padding: 5px;
  line-height: 1.3;
  max-width: 340px;
  margin-top: 5px;
}
