* {
  margin: 0;
}
.search {
  object-fit: contain;
  background-color: white;
}
.user_header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: -1px -1px 10px -1px;
  border: 1px solid lightgray;
  padding: 10px;
  align-items: center;
}
.profile_image {
  height: 20vh;
  width: 20vh;
  object-fit: contain;
  margin: 10px;
  border-radius: 500px;
}
.posts_view {
  margin-top: 10px;
  object-fit: contain;
  padding: 5px;
  border: 2px solid lightgray;
}
.post {
  max-width: auto;
  border: 2px solid orange;
  background-color: rgb(255, 206, 114);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
}
